

@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml")
}

<link href="~/css/site.css" rel="stylesheet" />

<div class="container" style="align-self:center; justify-self:center; margin: 0px !important; padding:0px !important;">
    <h2 class="mb-5" style="align-content:center; justify-content:center; margin-left:auto; margin-right:auto;"><strong>
        Getting Started with Student Information System Admin Panel
    </strong></h2>
  
    <div id="carouselExampleAutoplaying" class="carousel carousel-dark carousel-fade slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
         </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="20000">
          <img src="/images/AdminGettingStarted/adminOffcanvas.png" class="d-block w-100" alt="adminOffcanvas">
          <div class="carousel-caption d-none d-md-block">
          <h5>
              Ease of Use
          </h5>

          <p>
              The admin panel is designed in a simple and well-organized manner, so the admin can easily adapt to the panel.
          </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/AdminGettingStarted/adminAddNewTeacher.png" class="d-block w-100" alt="adminAddNewTeacher">
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/AdminGettingStarted/adminNewStudent.png" class="d-block w-100" alt="adminAddNewStudent">
        </div>
      </div>
      <button class="carousel-control-prev carousel-fade" type="button" data-bs-target="#carouselExampleAutoplaying" 
      data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next carousel-fade" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
