@model TeacherViewModel

@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml")
}


<div class="row">
    @await Component.InvokeAsync("TeacherCards",
    new {viewModel = Model})
</div>

