@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml")
}
@model Student

<form method="POST">
    <div class="container-in-details">
    <div class="student row">
        <div class="student-registration-div mb-4 mt-5">
            <img class="me-4" src="~/images/_SIS.png" width=60px; />
            <h1><b>
                Student Details
            </b></h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            @*add student id in a hidden input for model binding*@
            <input type="hidden" asp-for="StudentID" /> 
            <div class="form-group p-2">
                <label for="Name">Name</label> 
                @*show student name*@
                <input disabled asp-for="Name" class="form-control" />
            </div>
            <div class="form-group p-2">
                <label for="Surname">Surname</label>

                <input disabled asp-for="Surname" class="form-control" />
            </div>
            <div class="input-group p-2 mt-4">

                <select disabled class="form-select me-3" id="GenderSelection" asp-for="Gender">
                    <option selected disabled> Gender </option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
                <select disabled class="form-select" id="EducationLevel" asp-for="EducationLevel">
                    <option selected disabled> Education Level </option>
                    <option value="Primary School">Primary School</option>
                    <option value="Middle School">Middle School</option>
                    <option value="High School">High School</option>
                </select>

            </div>
            
            <div class="form-group p-2">
                <div class="form-check">
                    @*delete student from the system(database)*@
                    <input class="form-check-input me-2" type="checkbox" asp-for="UnenrollmentState"
                    id="Unenrollment"/>
                    <label class="form-check-label" for="Unenrollment">
                        Deregister
                    </label>


                </div>
            </div>
            
        </div>
        <div class="col-6">
            <div class="form-group p-2">
                <label for="Mail">Mail</label>
                <input disabled asp-for="Mail" class="form-control" />
            </div>
            <div disabled class="form-group p-2">
                <label for="Phone">Phone</label>
                <input disabled asp-for="Phone" class="form-control" />
            </div>
            <div disabled class="form-group p-2">
                <label for="ParentPhone">Parent Phone</label>
                <input disabled asp-for="ParentPhone" class="form-control" />
            </div>
              
        </div>
        <div class="row" style="align-content:center; justify-content:center;">
            <div class="col-6">
                <div class="form-group p-2 mt-4 d-grid mb-5">
                    <button type="submit" class="btn btn-primary btn-features">
                    Update Student </button>
                </div>
            </div>
        </div>
    </div>
    </div> 
</form>


