@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml")
}

@model TeacherAssignmentListViewModel

<link href="~/css/assignmentList.css" rel="stylesheet" />
<div class="row">
    <div class="student-registration-div mb-4">
        <img class="me-4" src="~/images/_SIS.png" width=60px/>
        <h1>
            <b>Assignment List</b>
        </h1>
    </div>
</div>
<div class="table-responsive pt-2">
<table class="table table-hover" onload="assignmentColors()">
    <thead>
        <tr>
            <th scope="col">
                Lesson ID
            </th>
            <th scope="col">
                Lesson Name
            </th>
            <th scope="col">
                Assignment Type
            </th>
            <th scope="col">
                Assignment Subject
            </th>
            <th scope="col">
                Student Name
            </th>
            <th scope="col">
                Due Date
            </th>
            <th scope="col">
                Submission Date
            </th>
            <th scope="col">
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Assignment assignment in Model.assignments)
        {
            int privateLessonID = assignment.privateLessonID;
            int studentID = assignment.StudentID;
            string studentName = Model.students.FirstOrDefault(i => i.StudentID == studentID)!.Name
            + " " + Model.students.FirstOrDefault(i => i.StudentID == studentID)!.Surname;
            string lessonName = Model.privateLessons
            .FirstOrDefault(i => i.PrivateLessonID == privateLessonID)!.LessonName!;
            string assignmentType = assignment.Type;
            string assignmentSubject = assignment.Subject;
            string dueDate = assignment.DueDate!;
            string dueTime = assignment.DueTime!;
            string? submissionDate = assignment.SubmittedDate;
            int assignmentID = assignment.AssignmentID;
            @*change color of the row to a red if the deadline is over*@
                
            DateTime datetime = DateTime.Now;
            string date = datetime.Date.ToString("yyyy/MM/dd");
            string time = datetime.ToString("hh:mm");

            DateOnly dateNow = DateOnly.Parse(date);
            DateOnly dueDateAssignment = DateOnly.Parse(dueDate);

            TimeOnly timeNow = TimeOnly.Parse(time);
            TimeOnly dueTimeAssignment = TimeOnly.Parse(dueTime);
                
            string colorOfAssignmentRow = "white";

            if (dueDateAssignment < dateNow && 
                (submissionDate == null || submissionDate == ""))
            {
                colorOfAssignmentRow = "#f1b3c0";
            }
            else if(dueDateAssignment == dateNow && dueTimeAssignment <= timeNow &&
            (submissionDate == null || submissionDate == ""))
            {
                colorOfAssignmentRow = "#f1b3c0";
            }
            else if(dueDateAssignment < dateNow  &&
            (submissionDate != null && submissionDate != ""))
            {
                colorOfAssignmentRow = "#d8e7d3";
            }
            else if(dueDateAssignment == dateNow && dueTimeAssignment <= timeNow)
            {
                colorOfAssignmentRow = "#d8e7d3";
            }
            
            <tr id="assignment-tr"            
            style="background-color:@colorOfAssignmentRow !important;
                    border-top:thin;
                    border-right:none;
                    border-left:none;
                    border-bottom:none;
                    border-color:lightgray;
                    border-width: 1px;">
                <td style="background-color:inherit;">
                    @privateLessonID
                </td>
                <td style="background-color:inherit;">
                    @lessonName            
                </td>
                <td style="background-color:inherit;">
                    @assignmentType 
                </td>
                <td style="background-color:inherit;">
                    @assignmentSubject
                </td>
                <td style="background-color:inherit;">
                    @studentName
                </td>
                <td style="background-color:inherit;">
                    @dueDate            
                </td>
                @if(submissionDate==null || submissionDate == "")
                {
                    <td style="background-color:inherit;">
                        -
                    </td>
                }
                else
                {
                    <td style="background-color:inherit;">
                        @submissionDate
                    </td>
                }
            
                <td style="background-color:inherit;">
                    <a asp-controller="Teacher" asp-action="AssignmentDetails" asp-route-id="@assignmentID">
                        Details
                    </a>            
                </td>
                
      
            </tr>
        }
    </tbody>
</table>

</div>



