@section Navbar{
    @await Html.PartialAsync("_navbarTSA.cshtml")
}


<link href="~/css/site.css" rel="stylesheet" />

<div class="container" style="align-self:center; justify-self:center; margin: 0px !important; padding:0px !important;">
    <h2 class="mb-5" style="align-content:center; justify-content:center; margin-left:auto; margin-right:auto;"><strong>
        Getting Started with Student Information System Teacher Panel
    </strong></h2>
  
    <div id="carouselExample" class="carousel carousel-dark carousel-fade slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active noShadow" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" class="noShadow" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" class="noShadow" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" class="noShadow" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" class="noShadow" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" class="noShadow" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="6" class="noShadow" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="7" class="noShadow" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="8" class="noShadow" aria-label="Slide 8"></button>
        </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherNoConfirmProfile.png" class="d-block w-100" alt="adminOffcanvas">
          <div class="carousel-caption d-none d-md-block mb-5" style="justify-content:center; align-content:center;">
          <h5>
              <b>
                  Ease of Use
              </b>
          </h5>

          <p class="mb-0" style="margin-left: 25px;margin-right: 25px;justify-self:center;">
              Teacher panel is designed in a simple and well-organized manner, 
              so the teacher can easily adapt to the panel.
          </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherNoConfirmUpdate.png" class="d-block w-100" alt="adminAddNewTeacher">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                      Unconfirmed Teacher Profile
                  </b>
              </h5>
              <p class="mb-0"  style="margin-left: 25px;margin-right: 25px; justify-self:center;">
                  Unconfirmed teachers can update their reference and CV information. The teachers
                  must wait for admin confirmation to start tutoring.
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherConfirmedProfile.png" class="d-block w-100" alt="adminAddNewStudent">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Confirmed Teacher Profile
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px; justify-self:center;">
                  Confirmed teachers cannot change their reference and CV information. They can update
                  phone number, education level, details about themselves, teaching areas and IBAN information.
                  They can start tutoring by creating new private lessons in the system.
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherNewPrivateLesson.png" class="d-block w-100" alt="adminStudentList">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Create New Private Lesson
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px;justify-self:center;">
                  Tutors can easily create new private lessons using Teacher Panel. 
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherPrivateLessonList.png" class="d-block w-100" alt="adminStudentDetails">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Teachers' Private Lesson List
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px; justify-self:center;">
                  Teachers can display all their private lessons. The important point is that 
                  this page contains both active private lessons and available private lessons.
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherLessonDetails.png" class="d-block w-100" alt="adminTeacherList">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Private Lesson Details
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px; justify-self:center;">
                  Teachers can update private lesson details. They can also delete a private lesson.
                  Teachers are able to check enrollment status of the private lesson via the web page.
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherPLSList.png" class="d-block w-100" alt="adminTeacherDetailsNoConfirmNoDoc">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Teachers' Active Private Lesson List 
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px; justify-self:center;">
                  Teachers can check their active private lessons and enrolled students easily.
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherPLSDetail.png" class="d-block w-100" alt="adminTeacherDetailsConfirmTeacher">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Active Private Lesson Details
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px; justify-self:center;">
                  Assignments of an active private lesson and enrolled student are shown on
                  this page.
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherNewAssignment.png" class="d-block w-100" alt="adminTeacherDetailsConfirmedTeacher">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Create New Assignment
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px; justify-self:center;">
                  Teachers can create new assignments, upload a document related to the assignment.  
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherAssignmentList.png" class="d-block w-100" alt="adminTeacherDetailsConfirmedTeacher">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Assignment List
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px; justify-content:center;">
                  Teachers can view assignment list. Lesson ID, lesson name, assignment type,
                  assignment subject, enrolled student, assignment due date and submission date 
                  are shown on the page. Assignment details can be achieved by using 'Details' links.
                  
              </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="20000">
          <img src="/images/TeacherGettingStarted/TeacherAssignmentDetails.png" class="d-block w-100" alt="adminTeacherDetailsConfirmedTeacher">
          <div class="carousel-caption d-none d-md-block mb-5">
              <h5>
                  <b>
                    Assignment Details
                  </b>
              </h5>
              <p class="mb-0" style="margin-left: 25px;margin-right: 25px;">
                  Assignment details can be updated on this page. Also, student answer can be
                  viewed, and teachers can grade student assignment.
              </p>
          </div>
        </div>
        
      </div>
      <button class="carousel-control-prev carousel-fade" type="button" data-bs-target="#carouselExample" 
      data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next carousel-fade" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p class="mt-5" style="align-content:center; justify-content:center; 
    margin-left:auto; margin-right:auto; text-indent:30px;font-size:larger;">
        Student Information System (SIS) is an application designed to connect private teachers and students in a safe environment.
        The system creates a student pool for private teachers and a private teacher pool for students. However, 
        the system offers more than just a pool. Since the system is managed by administrators, any issues arising on the student side
        or teacher side can be solved efficiently by the administrators. This makes the system more secure and reliable. 
        <br /> <br />As a teacher, you should be careful about your behavior and relationship with students. Otherwise,
        if any improper behavior is detected by the admin, you will be dismissed from the system.
        

    </p>
</div>
