body {
}
table {
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center !important;
}
td{
    margin-left:auto !important;
    margin-right:auto !important;
    
    
}

a,a:has(:hover){
    text-decoration:none;
    color: darkred;
}
