
/*change color of the navbar content to the white*/
.btn-close, .navbar-toggler{

    filter: invert(1);
}
.navbar, .navbar .nav-link, .navbar-brand, .offcanvas-title{
    color: white !important;
}

.bg-navbar-container {
    background-color: #005a6a !important;
    margin: 0px;
    padding: 0px;
}

a.nav-item{
    padding-left: 5px;
}

div#offcanvasNavbar.offcanvas.bg-navbar-container.offcanvas-end{
    width: 300px !important;
  
}

a.nav-link{  
    padding: 5px;
    font-size: 16px;
}

hr{
    color: white;
    height: 1px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}


/*fix navbar on the top of the screen*/
.navbar {
    margin: 0px;
    padding: 0px;
    width: auto;
}

.gap{
    margin: 16px;
    padding: 3px;
}
