
.container{
    position: relative;
    margin: 50px;
    padding: 50px;
    margin-top: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
   
    align-content:center;
    align-items: center;
    display: grid;
}

/*fix navbar on the top of the screen*/
body, html {
    margin: 0px !important;
    padding: 0px !important;
    color: black;
    background-color: white;
    font-family: --bs-body-font-family;
}

.div-teaching-subjects {
    border:solid 1px lightgray;
    border-radius: 9px;
    display: flex;
    align-items:flex-start;
    padding: 10px;
    overflow-x: auto;

}
.card-div{
    border: solid 1px lightgray;
    border-radius: 9px;
}
.form-check {
    align-items:center;
    display: flex;
    margin: 3px;
}
.creditCard-div {
    display: flex;
    align-items: flex-start;
}
textarea{
    height: 100px;
}

.btn-primary {
    color: white;
    background-color: #005a6a;
    border-style: solid;
    border-width: 3px;
    border-color: #005a6a;
    align-items: center;
}
    .btn-primary:hover {
        background-color: #005a6a;
        border-style: solid;
        border-width: 3px;
        border-color: #005a6a;
    }
    .btn-primary:active, .btn-primary::selection, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled {
        background-color: #005a6a !important;
        border-style: solid;
        border-width: 3px;
        border-color: #005a6a !important;
    }
:focus {
    border-color: #7fcbd8 !important;
    box-shadow: 0 0 0 0.25rem rgba(127, 203, 216, 0.5) !important;
}
div#offcanvasNavbar {
    border-color: #005a6a !important;
    box-shadow: none !important;
}

button#offcanvasNavbarToggleButton.navbar-toggler.gap.navbar-text-color.me-4 {
    border-color: #2C2C2C !important;
    border-width: 1px;
    box-shadow: none !important;
}
button#offcanvasNavbarToggleButton.navbar-toggler.gap.navbar-text-color.me-4:focus {
    border-color: #803427 !important;
    box-shadow: 0 0 0 0.25rem rgba(128, 52, 39, 0.5) !important;
}
button.btn-close:focus {
    border-color: #803427 !important;
    box-shadow: 0 0 0 0.25rem rgba(128, 52, 39, 0.5) !important;
}

.address-div-height {
    height: 115px !important;
}

.t-subject-div{
    display: flex !important;
    align-content:flex-start !important;
    align-items: flex-start !important;
}

#TeacherExplanation{
    height: 93px;
}

.div-cv{
    padding-top: 30px !important;
}

.student-registration-div{
    display: flex;
    align-content: flex-start;
    align-items: center;
}
.student-btn-edit{
    margin-top: 57px;
}

h1{
    margin-bottom: 0px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
,
.carousel-control-next {
   
  
}
.carousel-indicators {
    bottom: 5px !important;
    padding-bottom: 0px !important;
    
}
.carousel-inner{
    height: 600px !important;
}
button.carousel-control-prev.carousel-fade:active,
button.carousel-control-prev.carousel-fade:focus,
button.carousel-control-next.carousel-fade:active,
button.carousel-control-next.carousel-fade:focus {
    box-shadow: none !important;
}

