/*student and teacher card general specifications and teacher card specifications*/
@media screen and (max-width: 600px){
    .cards-display {
        display: inline-flex;
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .cards-display {
        display: inline-flex;
        width: 300px;
        align-self: center;
        justify-content: center;
    }
}


.teacher-card-container-div {
   align-items: center;
   align-self: center;
   align-content: center;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
}

.list-group {
    border: none !important;
    border-color: white !important;
    padding: 0px;
    margin: 0px;
}

.container-teacher-summary{
    padding:4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1px;
}

p {
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
}

span {
    display: inline;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px !important;
}
li, ol {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px !important;
}
.display-inline{
    display: inline;
}
/*if teacher is approved show teacher cards in blue*/
div.progress-bar.approved, div.card-header.approved {
    background-color: #325f85;
    color: white;
}
div.body.approved {
    background-color: #A7C7E7;
}
/*if teacher is not approved show teacher cards in red*/
div.progress-bar.notApproved, div.card-header.notApproved {
    background-color: #A42A04;
    color: white;
}

div.body.notApproved {
    background-color: #DAA99A;
}
.card-header{
    display:flex !important;
    justify-content:space-between !important;
    align-items: center !important;
}
a.btn{
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid;
    border-color:lightgray;
    background-color:lightgray;
    border-radius: 25px;
    width: 70px;
    height: 20px;
    color: black;
    justify-content:center;
    align-content: center;
    text-align: center;
    padding: 3px;
}
h5.card-title{
    display: inline-flex;
    padding: 1px;
    margin-bottom: 0px;


}
a.btn:hover,
a.btn:active,
a.btn:focus {
    border: 1px solid !important;
    border-color: #cabba9 !important;
    background-color: bisque !important;
    border-radius: 25px !important;
    color: black !important;
}

/*student cards specifications*/

div.body.student-card-body {
    background-color: #7FBFBF !important;
}

div.card-header.student-card-header {
    background-color: #004040 !important;
    color: white;
}

a.btn.student-btn-details:hover,
a.btn.student-btn-details:active,
a.btn.student-btn-details:focus {
    border: 1px solid !important;
    border-color: #cabba9 !important;
    background-color: bisque !important;
    border-radius: 25px !important;
    color: black !important;
}