@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<TeacherLesson>

<div class="form-group p-2">
    <label>Teaching Areas</label>
    <div class="div-teaching-subjects">
        <div class="m-2 t-subject-div">
        <div class="form-check form-switch me-4">
            <input class="form-check-input me-2" type="checkbox"
            id="lesson1">
            <label class="form-check-label" for="lesson1">
                Mathematics</label>
        </div>
        <div class="form-check form-switch me-4">
            <input class="form-check-input me-2" type="checkbox"
            id="lesson2" />
            <label class="form-check-label" for="lesson2">
                Turkish
            </label>
        </div>
        <div class="form-check form-switch me-4">
            <input class="form-check-input me-2" type="checkbox"
            id="lesson3" />
            <label class="form-check-label" for="lesson3">
                Chemistry
            </label>
                        
        </div>
        <div class="form-check form-switch me-4">
            <input class="form-check-input me-2" type="checkbox"
            id ="lesson4" />
            <label class="form-check-label" for="lesson4">
                Biology
            </label>
        </div>
        <div class="form-check form-switch me-4">
            <input class="form-check-input me-2" type="checkbox"
            id = "lesson5" />
            <label class="form-check-label" for="lesson5">
                Physics
            </label>
        </div>
        <div class="form-check form-switch me-4">
            <input class="form-check-input me-2" type="checkbox"
            id = "lesson6" />
            <label class="form-check-label" for="lesson6">
                History
            </label>
        </div>
        <div class="form-check form-switch me-4">
            <input class="form-check-input me-2" type="checkbox"
                id = "lesson7" />
                <label class="form-check-label" for="lesson7">
                    English
                </label>
            </div>
            <div class="form-check form-switch me-4">
                <input class="form-check-input me-2" type="checkbox"
                id ="lesson8" />
                <label class="form-check-label" for="lesson8">
                    German
                </label>
            </div>
        </div>
</div>
</div>
