@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TeachingAreasDetailsViewModel
@{
    List<LessonDTO> lessons = Model.lessons;
}
<div class="form-group p-2">
    <label>Teaching Areas</label>
    <div class="div-teaching-subjects">
        <div class="m-2 t-subject-div">
            @foreach (TeacherLesson lesson in Model.teacherLesson)
            {
                int lesson_id = lesson.LessonID;
                <div class="form-check form-switch me-4">
                    <input class="form-check-input me-2" type="checkbox"
                    id="@lesson.LessonID" asp-for="@lesson.IsChecked">
                    <label class="form-check-label" for="@lesson.LessonID">
                        @lessons[lesson_id-1].Name</label>
                </div>
            }
        </div>
    </div>
</div>
