@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@section navbar
{
    @await Html.PartialAsync("_navbar.cshtml")
}
<h2>HELLO WORLD</h2>
