@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@section Navbar{
    @await Html.PartialAsync("_navbar.cshtml");
}

@model Passwords

<link href="~/css/TeacherDetailsPageDesign.css" rel="stylesheet"/>
<form method="POST" asp-controller="Home" asp-action="SignIn">
    <div class="row" style="align-content:center; justify-content:center;">
        <div class="student-registration-div mb-4" style="justify-content:center !important;">
            <h1><b>
                Sign In
            </b></h1>
        </div>
    </div>
    <div class="row" style="align-content:center; justify-content:center;">
        <div class="col-6">
            @if (ViewBag.SignIn == "Failed")
            {
                <div class="alert alert-danger" role="alert">
                    Invalid Email or Password
                </div>
            }
            <input type="hidden" asp-for="@Model.PasswordsID" />
            <div class="form-group p-2">
                <label for="usermail">
                    User Mail
                </label>
                <input class="form-control" type="email" asp-for="@Model.userMail" 
                id="usermail" required/>
            </div>
            <div class="form-group p-2">
               <label for="userPassword">
                   Password
               </label>
               <input type="password" asp-for="@Model.Password" 
               class="form-control" id="userPassword" required/>
            </div>

            <div class="form-group d-grid p-2 mt-3">
                <button type="submit" class="btn btn-primary btn-features" style="display:block;">
                    Sign In
                </button>
            </div>
        </div>
    </div>
</form>
